/* TAB */

@media only screen and (max-width:999px) {
    .banner {
        height: auto;
    }

    header .navbar {
        position: static;
    }

    .feature {
        padding: 0 10px;
        overflow: hidden;
        height: auto;
    }

    .banner .banner-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /* HOW IT WORKS */

    .working .timeline {
        width: 100%;
    }

    .faq .accordion-button {
        font-size: 23px;
    }

    .faq .accordion-body {
        font-size: 16px;

    }

    #textSection .wrapper h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: apple-font;
        color: #000;
    }

    #textSection {
        height: auto;
    }

    /* MODEL */

    #talktous .modal-body .left .content-box {
        padding: 23px 0 158px 0;
        text-align: center;
    }

    #talktous .modal-body .left .content-box {
        padding: 34px 0 132px 0;
        text-align: center;
    }

    #talktous .modal-body .row .col-lg-6 {
        padding: 10px 0;
    }

    #talktous .modal-body .img-box img {
        max-width: 100px;
    }

    .testimonial {
        height: auto;
    }

}


/* MOBILE */

@media only screen and (max-width:767px) {

    header nav .logo {
        max-width: 170px;
    }

    footer .logo {
        max-width: 170px;
    }

    .banner .banner-shadow {
        display: none;
    }


    .feature .bg-shadow {
        display: none;
    }

    header .navbar {
        position: static;
        padding: 0 10px;
    }

    .head {
        padding: 30px 10px 52px 10px;
    }

    .head h3 {
        color: #000;
        font-size: 25px;
    }

    .head p {
        font-size: 14px;
    }

    .banner {
        padding: 0 10px;
        height: auto;
    }

    .banner .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .banner .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .brand {
        padding: 0 10px;
    }

    .brand h4 {
        font-size: 31px;
    }

    .feature {
        padding: 0 10px;
        overflow: hidden;
        height: auto;
    }

    .feature .card .card-text {
        font-size: 14px;
    }

    .feature .card .card-title {
        font-size: 16px;
    }

    .faq .head h3 {
        font-size: 25px;
    }


    .faq .accordion-button {
        font-size: 17px;
    }

    .faq .accordion-body {
        font-size: 12px;
    }

    footer .footer-bottom {
        display: block;
    }

    footer .footer-bottom .social-icon {
        margin-top: 20px;
    }

    footer {
        padding: 50px 0;
        background-color: #18191f;
    }

    .about .banner-content {
        width: 100%;
    }

    .about .banner-tag-box {
        padding: 50px 40px;
        background-color: #000000;
        position: static;
        width: 100%;
    }

    .about .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .about .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }




    .inner-page .banner-content {
        width: 100%;
    }

    .inner-page .banner-tag-box {
        padding: 50px 40px;
        background-color: #000000;
        position: static;
        width: 100%;
    }

    .inner-page .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .inner-page .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .pricing .price-box {
        padding: 50px 0 0 0;
    }


    /* HOW IT WORKS */

    .working .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    .working h1 {
        font-size: 40px;
        text-align: center;
    }

    .working .timeline:before {
        left: 20px;
        height: 100%;
    }

    .working .timeline ul li:nth-child(odd),
    .working .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .working .timeline ul li:nth-child(odd):before,
    .working .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .working .timeline ul li:nth-child(odd) .time,
    .working .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }

    .working .timeline ul li h3 {
        font-size: 18px;
    }

    .working .timeline ul li p {
        font-size: 16px;
    }

    #textSection .wrapper h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: apple-font;
        color: #000;
    }

    #textSection {
        height: auto;
    }


    .gtco-testimonials .owl-dots {
       display: none;
    }


    /* BLOG */

    .blog-detail-page-section {
        margin: auto;
    }
    .blog-detail-page {
        height: 30vh;
        background-size: contain;
    }
    .blog-detail-page .date {
display: none;
    }
    .blog-detail-page-section h1 {
        padding: 21px 0 22px 0;
        font-size: 26px;
    }

    .blog-detail-page-section .blog-alignment{
        padding: 0 10px;
    }

    .blog-detail-page-section h5 {
        color: #747474;
        font-size: 16px;
    }

    .blog-detail-page-section h6 {
        color: #303030;
        font-size: 13px;
    }

    .blog {
        height: auto;
    }

    .blog-carousel .card .card-title {
        font-size: 18px;
    }

    .blog-carousel .card .card-text {
        font-size: 14px;
    }


    .blog-carousel .card .read-more span {
        font-size: 12px;
    }


    /* MODAL */
/* 
    #talktous .modal-body .img-box {
        display: none;
    } */

    #talktous .modal-body .img-box img {
        max-width: 100px;
    }

    #talktous .modal-body .left .content-box {
        padding: 23px 0 158px 0;
        text-align: center;
    }

    #talktous .modal-body .form-box label {
        font-size: 14px;
    }

    #talktous .modal-body .form-box {
        padding: 15px 0 !important;
    
    }

    #talktous .modal-body .form-box label {
        /* font-size: 14px; */
        display: none;
    }
    
    #talktous .modal-body .form-box .doban{
        display: block;
    }

    #talktous .modal-body .form-box .ban-no-times{
        display: block;
    }
    
    

    #talktous .modal-body .row input[type='text'], #talktous .modal-body .row input[type='email'], #talktous .modal-body .row input[type='phone'] {
        width: 100%;
    }

    #talktous input[type="date"] {
        width: 100%;
    }

    #talktous .modal-body .form-box .close-btn {
        padding: 6px 12px;
    }

    #talktous .modal-body .form-box button {
        padding: 6px 12px;
    }



}