/* TAB */

@media only screen and (max-width:999px) {
    .banner {
        height: auto;
    }

    header .navbar {
        position: static;
    }

    .feature {
        padding: 0 10px;
        overflow: hidden;
        height: auto;
    }

    .banner .banner-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


/* MOBILE */

@media only screen and (max-width:767px) {

    header nav .logo {
        max-width: 170px;
    }

    footer .logo {
        max-width: 170px;
    }

    .banner .banner-shadow {
        display: none;
    }


    .feature .bg-shadow {
        display: none;
    }

    header .navbar {
        position: static;
        padding: 0 10px;
    }

    .head {
        padding: 30px 10px 52px 10px;
    }

    .head h3 {
        color: #888787;
        font-size: 25px;
    }

    .head p {
        font-size: 14px;
    }

    .banner {
        padding: 0 10px;
        height: auto;
    }

    .banner .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .banner .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .brand {
        padding: 0 10px;
    }

    .brand h4 {
        font-size: 31px;
    }

    .feature {
        padding: 0 10px;
        overflow: hidden;
        height: auto;
    }

    .feature .card .card-text {
        font-size: 14px;
    }

    .feature .card .card-title {
        font-size: 16px;
    }

    .faq .head h3 {
        font-size: 25px;
    }


    footer .footer-bottom {
        display: block;
    }

    footer .footer-bottom .social-icon {
        margin-top: 20px;
    }

    footer {
        padding: 50px 0;
        background-color: #18191f;
    }

    .about .banner-content {
        width: 100%;
    }

    .about .banner-tag-box {
        padding: 50px 40px;
        background-color: #000000;
        position: static;
        width: 100%;
    }

    .about .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .about .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }




    .inner-page .banner-content {
        width: 100%;
    }

    .inner-page .banner-tag-box {
        padding: 50px 40px;
        background-color: #000000;
        position: static;
        width: 100%;
    }

    .inner-page .banner-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .inner-page .banner-content h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .pricing .price-box {
        padding: 50px 0 0 0;
    }



}