@font-face {
    font-family: apple-font;
    src: url(../font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}

/* @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-font;


}

:root {
    --primary-color: #25d366;
    --white-color: #fff;
    --black-color: #000;
    --bg-gray: rgb(244 245 247/.5);
}



header {
    /* height: 100vh; */
    background-color: var(--white-color);
}

header nav .logo {
    max-width: 250px;
}


section {
    padding: 0 0 10px 0;
}

.banner {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 0 0;
}

.banner .banner-shadow {
    position: absolute;
    left: 18%;
    top: 7%;

}


.relative-box {
    position: relative;
}

.greentext {
    color: var(--primary-color) !important;
}

.head {
    padding: 30px 0 52px 0;
}

.head h3 {
    color: #000;
    font-size: 32px;
    font-weight: 900;
}

.head h3 span {
    color: #000;
}


.head p {
    font-size: 20px;
    color: #000000;
}

header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


header nav button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
}

.navbar-toggler {
    border: none;
}

.humberg {
    max-width: 30px;
    border: none;
}

.talk-to-us {
    font-weight: 100;
    font-size: 20px;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
}

header nav .navbar-collapse li a {
    font-weight: 500;
    color: var(--black-color);
}

/* BANNER */
.banner .banner-content h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 900;
    color: #000000;
}



.banner .banner-content h1 span {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 900;
    color: var(--black-color);

}


.banner .banner-content p {
    font-size: 18px;
    color: #000000;
    font-weight: 100;
}

/* BRAND */

.brand {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.animated-btn-box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25%;
    z-index: 11;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);

    border: 1px solid #ffffff;
    background-color: var(--primary-color);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign img {
    width: 17px;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--white-color);
    transition-duration: .3s;
    font-size: 16px;

}


/* Modify the CSS for button transition */
.brand:hover .Btn {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
    animation: fadeIn 2s linear;
}

.brand:hover .Btn .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

.brand:hover .Btn .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}



/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.brand h4 {
    font-size: 60px;
    font-weight: 600;
    font-family: apple-font;
    color: #000;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}


.brand h4 .black-text {
    color: #000000;
}


/* FEATURE */

.feature {
    padding: 0 0 50px 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(217 217 217 / 50%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

.feature .bg-shadow {
    position: absolute;
    right: 0;
    z-index: -1;
}



.feature .card {
    border: none;
    background-color: rgba(41, 34, 34, 0);
}

.feature .card .card-title {
    font-weight: 900;
    font-size: 20px;
}

.feature .card .card-text {
    font-weight: 100;
    font-size: 16px;
    color: #000;

}

.feature .card .img-box {
    padding: 0 1rem;
}

.feature .card img {
    max-width: 61px;
    border: 1px solid #d0ffe1;
    padding: 13px 10px;
    border-radius: 10px;
    background-color: var(--white-color);
}

.feature .card img:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* FAQ */

.faq-banner{
    padding: 0 !important;
}

.faq .head h3 {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

.faq .head h3 span {
    color: #000;
}

.faq .accordion {
    border: none;
}

.faq .accordion-item {
    border: none;
}


.faq .accordion-item .show {
    background-color: #e4faec;
}

.faq .accordion-button {
    border: none !important;
    font-size: 25px;
    font-weight: 500;
}

.faq .accordion-body {
    font-size: 20px;
}


.faq .accordion-button:not(.collapsed) {
    font-weight: 800;
    color: #000;
    background-color: #e4faec;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    /* border: 1px solid red; */
}

.faq .accordion-button:focus {
    box-shadow: none;
}

/* HOW IT WORKS */

.working .timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.working .timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.working .timeline ul {
    padding: 0;
    margin: 0;
}

.working .timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.working .timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.working .timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.working .content {
    padding-bottom: 20px;
}

.working .timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(195 255 217);
    animation: zoom 3s infinite linear;
}

.working .timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(195 255 217);
}

.working .timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 27px;
    font-weight: 600;
}

.working .timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: #000000;
    font-size: 18px;
}

.working .timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.working .timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.working .timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

/* GET START */

#textSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textSection .wrapper h4 {
    font-size: 40px;
    font-weight: 600;
    font-family: apple-font;
    color: #000;
}

#textSection .wrapper h4 span {
    color: #000;
}

/* CONTACT */

.contact-us {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;

}

/* .contact-us h3 {
    font-size: 50px;
    font-weight: 700;
    color: #000;
} */

.contact-us h3 span {
    color: #000;
}

.contact-us p {
    font-size: 22px;
    color: #000;
}


.contact-us .ball1 {
    position: absolute;
    z-index: -1;
    right: -74px;
    top: -86px;
    animation: zoom-in-zoom-out 2s ease infinite;

}

.contact-us .ball2 {
    position: absolute;
    right: 34%;
    top: 22%;
    z-index: -1;

}

.contact-us .ball3 {
    position: absolute;
    left: -67px;
    bottom: 0;
    z-index: -1;
}

.contact-us .ball4 {
    position: absolute;
    left: -74px;
    bottom: 50%;
    animation: zoom-in-zoom-out 3s ease infinite;
}




#talktous .talktous-form-btn {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 0;
    margin: 10px 0 0 0;
    padding: 12px 55px;

}


#talktous {
    border: none;
}

#talktous .modal-header {
    border: none;
}

#talktous .modal-footer {
    border: none;
}

#talktous input[type="date"] {
    width: 90%;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #9c9999;
}

/* #talktous .close-btn {
    max-width: 20px;
    cursor: pointer;
} */

#talktous .modal-body .img-box img{
    max-width: 200px;
    position: absolute;
    bottom: 0;
    left: 22%;

}


#talktous .modal-body .left .content-box{
    padding: 100px 0 0 0;
    text-align: center;
      

}


#talktous .modal-body .left .content-box h3{
    font-weight: 600;
}


#talktous .modal-body .left .content-box p{

    color: #00000087;
}





/* #talktous input[type=date]::-webkit-datetime-edit-month-field {
    color: #D9D9D9;
}

#talktous input[type=date]::-webkit-datetime-edit-day-field {
    color: #D9D9D9;
}

#talktousinput[type=date]::-webkit-datetime-edit-year-field {
    color: #D9D9D9;
} */

/* #talktous input[type=date]::-webkit-calendar-picker-indicator:hover {
    background-color: #959595;
    color: #e6e6e6;
    cursor: pointer;
}

*/

/* #talktous input[type=date]::-webkit-calendar-picker-indicator:active {
    color: blue;
}



#talktous input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ededed;
}

#talktous input::placeholder {
    padding: 0 0 0 10px;
    font-size: 14px;

}


#talktous form label {
    display: block;
    display: block;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
    font-family: apple-font;
}

#talktous .modal-head {
    text-align: center;
}

#talktous .modal-head h3 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}

#talktous .modal-head h3 span {
    color: #000;
}

#talktous .modal-content {
    border: none;
    border-radius: 0;
    background-color: #ffffff;
}

#talktous .contnet-box {
    padding: 26px 26px 0px 0px;
}

.modal-body {
    padding: 0;
    background-color: #ececec;
} */

/* #talktous .modal-content{
    background: rgb(219, 255, 244);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    
}
 */


#talktous .modal-body .left {
    background-color: rgb(222 255 213);
    border-radius: 10px;
    position: relative;
}




#talktous .modal-body form label {
    display: block;
    padding: 0 0 10px 0;
    color: #061b00;
    font-weight: 700;
}

#talktous .modal-body {
    padding: 24px 36px !important;
}


#talktous .modal-content {
    border: none;
}




/* #talktous .modal-body form h4{
    display: inline;
 } */

#talktous .modal-body .row .col-lg-6 {
    padding: 24px 0;
}

#talktous .modal-body .row input[type='text'],
#talktous .modal-body .row input[type='email'],
#talktous .modal-body .row input[type='phone'] {
    width: 90%;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #9c9999;
}


#talktous .modal-body .row input[type='radio'] {
    height: 14px;
    width: 14px;
}

#talktous .modal-body .bann-number-box {
    display: flex;
    align-items: center;
    padding: 0 18px 0 0;
}

#talktous .modal-body .bann-number-box h4{
    font-size: 20px;
}




#talktous .modal-body .form-box {
    background-color: #f6fff4;
    padding: 45px;
}

#talktous .modal-body .form-box label{
    font-size: 18px;
}


#talktous .modal-body .form-box button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 10px;
}

#talktous .modal-body .form-box .close-btn{
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;

}



footer {
    padding: 140px 0;
    background-color: #18191f;
}



footer .logo {
    max-width: 265px;
}

footer hr {
    color: #fff;
}

footer h4 {
    color: var(--white-color);
}

footer a {
    text-decoration: none;
}

footer a p {
    color: #a2a2a2;

}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bottom .social-icon img {
    max-width: 20px;
}


/* ABOUT */

.about {
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 30px 0;
}

.inner-page {
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 30px 0;
}

.inner-page .banner-content h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 900;
    color: #000;
}

.inner-page .banner-tag-box {
    padding: 50px 40px;
    background-color: #000000;
    position: absolute;
    bottom: -16%;
    left: 10%;
    width: 40%;
    z-index: 3;

}

.inner-page .banner-content {
    width: 100%;
    text-align: center;
}

.inner-page .banner-content h1 span {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 900;
    color: var(--black-color);

}

.inner-page .banner-content p {
    font-size: 22px;
    color: #a2a2a2;
}

.about .banner-tag-box h4 {
    color: #B9B8B8;
    font-size: 30px;
    font-weight: 900;
}

.about .banner-tag-box h4 span {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;

}

.about .banner-tag-box p {
    color: #8A8A8A;
    font-size: 20px;

}

.pricing .card {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    padding: 14px 14px;
    width: 22rem;
}

.pricing .card .top-text {
    color: #000;
    font-weight: 900;
    color: var(--primary-color);
}

.pricing .card h2 {
    color: #000;
    font-weight: 900;
}

.pricing .card h2 span {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 100;

}

.pricing .card h4 {
    padding: 0 0 12px 0;
    font-size: 20px;
}



.pricing .card .sml-desc {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 100;
}

.pricing .card .offer {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 100;
}

.pricing .price-box {
    padding: 80px 0 0 0;
}




/* PRICING */
/* 
.pricing{
    padding-top: 90px;
} */



/* TESTIMONIAL */

.testimonial {
    height: 100vh;
}

.gtco-testimonials {
    position: relative;
    margin-top: 30px;
}

.gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}

.gtco-testimonials .owl-nav {
    display: none;
}

.gtco-testimonials .owl-dots {
    text-align: center;
}

.gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid var(--primary-color);
    margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
    background: var(--primary-color);
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.gtco-testimonials .card h5 {
    color: var(--primary-color);
    font-size: 21px;
    line-height: 1.3;
}

.gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
}

.gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}

.gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}

.gtco-testimonials .center {
    opacity: 1;
}

.gtco-testimonials .center h5 {
    font-size: 24px;
}

.gtco-testimonials .center h5 span {
    font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}

.owl-carousel button.owl-dot {
    outline: 0;
}







@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}